name: CI
on:
  pull_request:
    branches: [main]
# Cancel in-progress runs for pull requests when developers push new changes
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  validate-contributors:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.2"
      - name: Validate contributors
        run: go build ./scripts/contributors && ./contributors
      - name: Remove build file artifact
        run: rm ./contributors
